

:root {
  --clr-primary: rgb(53, 197, 237);
  --clr-primar-light: #beed8c;
  --clr-grey-1: #102842;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "catamaran", sans-cerif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 2px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-widt: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 4rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* More global styles */
.btn {
  text-transform: uppercase;
  background: var(--clr-grey-1);
  color: white;
  letter-spacing: 2px;
  display: inline;
  font-weight: 700;
  transition: all 1s linear;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0, 0, 0, 0.2);
}
.btn:hover {
  color: white;
  background: var(--clr-grey-5);
}
/* .clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
} */
.section-title h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
}
.section-title {
  margin-bottom: 2rem;
}
.section-center {
  padding: 5rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
/* end of global styling */
/* /* navigation */
.nav {
  background:white;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}
li {
  list-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.line-head{
  height: 0.15rem;
  width: 3rem;
  background: rgb(77, 203, 238);
  margin: 0 auto;
  margin-top: 5px;
}
a {
  text-decoration: none;
  color: black;
  font-family:var(--ff-secondary);
  font-weight: 700;
}
a:hover {
  color:rgb(77, 203, 238);
}
/* end of navigation */
/* hero  */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
  url(./img/towers.jpg);
  position: relative;
  height: 90vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-weight: 500px;
}
.hero-center {
  width: 100%;
  padding: 8rem;
  
}
h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: white
  font-size: 50px;
}
p {
  max-width: 700px;
  font-size: 1.5rem;
  color: white;
  font-size: 40px;
}
.p-hero {
  font-size: 25px;
  margin: 0 auto;
}
.button {
  background: transparent;
  border-radius: 50px;
  color: white;
  font-size: medium;
  padding: 0.5rem 1.25rem;
  letter-spacing: 2px;
  border: white 2px solid;
  margin-top: -50px;
  cursor: pointer;
}
.button:hover{
  color: #85e524;
}
 /* end of hero */
/* content divider */
.content-divider {
  height: 0.7rem;
  background: linear-gradient(to left, rgb(128, 128, 128),rgb(153, 216, 233),rgb(128,128,128)
  );
}
/* end of content divider */
.section-center{
  display: flex;
  justify-content: space-evenly;
  flex: 0 0 calc(25% - 3rem);
}
 /* services */
.service-title{
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}
.service-card{
  background: white;
  border: 5px solid white;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgb(0,0,0,0.5) ;
  transition: all 0.5s linear;
  height: 35rem;
  flex: 0 0 calc(33%);
}
.service-card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.2);
}
.service-img {
  height: 17rem;
  object-fit: cover;
}
.service-info {
  text-align: center;
  padding: 3rem 1rem 2.5rem 1rem;
}
.service-info p {
  max-width: 20rem;
  color: lightgray;
  margin: 0 auto;
  padding: 1.25rem;
  font-size: small;
}
  
  .service-btn {
  font-size: 0.;
  text-transform: capitalize;
  padding: 0.375rem 0.5rem;
  border-radius: 2rem;
  font-weight: 400;
  margin: 1.25rem;
}
@media screen and (min-width: 786px) {
  .service-card {
    float: left;
    width: 45%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 992px) {
  .service-card {
    width: 30%;
    margin-right: 3.333%;
  }
}
.service-img-container {
  position: relative;
}
.service-icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  font-size: 2rem;
  color: var rgb(196, 58, 60);
  background: rgb(241, 242, 243);
  padding: 0.25rem 0.6rem;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  border: 0.375rem solid white;
}
/* end of services */
/* 
===================
Contact
===================
*/
.contact {
  background: white;
}
.contact-form,
.contact-info {
  margin: 1rem 0;
}
.contact-item {
  margin-bottom: 1.75rem;
}
.contact-title {
  color: var(--clr-primary);
  font-weight: 400;
}
.contact-text {
  text-transform: uppercase;
}
.contact-form {
  background: var(--clr-white);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
  transition: var(--transition);
  max-width: 35rem;
}
.contact-form:hover {
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.2);
}
.contact-form h3 {
  padding-top: 1.25rem;
  color: var(--clr-grey-5);
}
.form-group {
  padding: 1rem 1.5rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin: 1.25rem;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
@media screen and (min-width: 992px) {
  .contact-form,
  .contact-info {
    float: left;
    width: 50%;
  }
}
  

/* footer */
.footer{
background: rgb(217, 217, 217);
height: 10rem;
display: flex;
justify-content: space-evenly ;
align-items: center;
}
.social-icon{
  color: white;
  font-size: 1.5rem;  
  }
  .footer-text{
    text-transform: uppercase;
    color: rgb(11, 148, 185);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    }

/* end of footer */
.hero-animation{
  animation: MoveFromTop 5s ease-in-out 1;
  text-align: center;

}
.but-animation{
  animation: MoveFromBottom 5s ease-in-out 1;
  text-align: center;
}
@keyframes MoveFromTop{
  0%{
opacity: 0;
transform: translateY(-100px) ;

  }
  100%{
opacity: 1;
transform: translateY(0) ;

  }
}

@keyframes MoveFromBottom{
  0%{
opacity: 0;
transform: translateY(200px) ;

  }
  100%{
opacity: 1;
transform: translateY(0) ;

  }

  }
li{
color: white;
font-size: x-large;
}